
<html lang="en">
  <head>
    <title>EBA Command Center | Webstore</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://eba-software.github.io/main.js"></script>
    <link href="https://eba-software.github.io/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="header"></div>
    <h1>Webstore Item | <a href="index.html">USERNAME</a> / Kill.ebaimport</h1>
    <p>Desc.</p>
    <p>Publisher: <a href="index.html">USERNAME</a></p>
    <table>
      <tr>
        <td>Date</td>
        <td>xx/xx/xx</td>
      </tr>
      <tr>
        <td>Type</td>
        <td>Command</td>
      </tr>
      <tr>
        <td>EBA Rating</td>
        <td>0</td>
      </tr>
    </table> 
    <p>Syntax: "file"</p>
    <button onclick="dwnld('files/file.ebaimport','file.ebaimport')" class="p100 green">Download from EBA Software</button>
    <button onclick="document.location='https://example.com'"class="p100 yellow">Visit Publishers Site</button>
    <div id="footer"></div>
  </body>
</html>
