#footer {
  bottom: 0px;
  margin-bottom: 0px;
  height: 150px;
}
#header, #footer {
  text-align: center;
  padding: 0px;
  width: 100%;
  left: 0px;
  right: 0px;
  background-color: darkblue;
  color: white;
  border: 1px solid black;
  border-collapse: collapse;
}
#header {
  top: 0px;
  margin-top: 0px;
  position: fixed;
  height: 70px;
}
.blue {
  background-color: #0000FF;
}
.blue:hover {
  background-color: #0000AA;
}
.bold {
  text-decoration: bold;
}
.disable {
  cursor: not-allowed;
}
.err {
  font-size: 50px;
}
.green {
  background-color: #00FF00;
}
.green:hover {
  background-color: #00AA00;
}
.p100 {
  width: 100%;
}
.p50 {
  width: 50%;
}
.red {
  background-color: #FF0000;
}
.red:hover {
  background-color: #AA0000;
}
.textGreen {
  color: #00FF00;
}
.textRed {
  color: #FF0000;
}
.textYellow {
  color: #FFFF00;
}
.yellow {
  background-color: #FFFF00;
}
.yellow:hover {
  background-color: #AAAA00;
}
::selection {
  background: #FF0000;
  color: black;
}
a:active {
  color: #0000FF;
  background-color: transparent;
  text-decoration: underline;
}
a:hover {
  color: #AA0000;
  background-color: transparent;
  text-decoration: underline;
}
a:link {
  color: #FF0000;
  background-color: transparent;
  text-decoration: underline;
}
a:visited {
  color: #FFAA00;
  background-color: transparent;
  text-decoration: underline;
}
body {
  margin-top: 75px;
}
button {
  text-align: center;
  color: black;
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
}
button:hover {
  color: white;
}
div.marker {
    display: block;
    position: relative;
    top: -75px;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: E0E0E0;
}
