<html lang="en">
  <head>
    <title>EBA Command Center Store</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://eba-software.github.io/main.js"></script>
    <link href="https://eba-software.github.io/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="header"></div>
    <div class="errbox">
      <h1>Content Unavailable</h1>
      <p>This profile has been suspended.</p>
      <p>A profile is suspended when the user breaks our rules. When a user is suspended, their content becomes unavailable on the EBA Command Center Store.</p>
      <br>
      <p>Error Code: 401-1</p>
    </div>
    <!--<h1>Webstore Item | <a href="index.html">USERNAME</a> / File.ebaimport</h1>
    <p>Desc.</p>
    <button onclick="dwnld('files/file.ebaimport','File.ebaimport')" class="p100 green">Download from EBA Software</button>
    <button onclick="alert('Notice: This item was published by EBA Software. You\'re already on the publishers website!')"class="p100 yellow">Visit Publishers Site</button>
    <h2>Item Information</h2>
    <p>Syntax: "file"</p>
    <table>
      <tr>
        <th>Publisher</th>
        <th>Version</th>
        <th>Published</th>
        <th>Type</th>
        <th>Rating</th>
      </tr>
      <tr>
        <td><a href="index">USERNAME</a></td>
        <td>0</td>
        <td>xx/xx/xx</td>
        <td>Command</td>
        <td>0</td>
      </tr>
    </table>-->
    <div id="footer"></div>
  </body>
</html>
