<html lang="en">
  <head>
    <title>Unavailable</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://eba-software.github.io/main.js"></script>
    <link href="https://eba-software.github.io/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="header"></div>
    <div class="errbox">
      <h1>Content Unavailable</h1>
      <p>This profile has been suspended.</p>
      <p>A profile is suspended when the user breaks our rules. When a user is suspended, their content becomes unavailable on the EBA Command Center Store.</p>
      <br>
      <p>Error Code: 401-1</p>
    </div>
    <!--<img src="profile.png" style="float:left" height="150px" width="150px" alt="Profile Picture: EBA Software"><h1>Webstore Profile | USERNAME</h1>
    <p class="pin">✓</p>
    <p class="pin">Official EBA Software Account</p>
    <p class="pin">Account Managed by EBA Software</p>
    <p class="pin">Verified EBA Software Administrator</p>
    <p class="pin">Verified EBA Software Developer</p>
    <p class="pin">Verified EBA Software Management</p>
    <p class="pin">Account Suspended</p>
    <p class="pin">Account Deleted</p>
    <p class="pin">Account Inactive</p>
    <table>
      <tr>
        <th>File Name</th>
        <th>File Type</th>
        <th>Submission Date</th>
        <th>EBA Rating</th>
        <th>Description</th>
        <th>Learn More</th>
      </tr>
      <tr>
        <td>file.ebaimport</td>
        <td>Command</td>
        <td>xx/xx/xx</td>
        <td>0</td>
        <td>desc</td>
        <td><a href="file.html">Learn More</a></td>
      </tr>
      <tr>
        <td>file.ebaplugin</td>
        <td>Plugin</td>
        <td>xx/xx/xx</td>
        <td>0</td>
        <td>desc</td>
        <td><a href="file.html">Learn More</a></td>
      </tr>
      <tr>
        <td>file.vbs</td>
        <td>Modification</td>
        <td>xx/xx/xx</td>
        <td>0</td>
        <td>desc</td>
        <td><a href="file.html">Learn More</a></td>
      </tr>
    </table>-->
    <div id="footer"></div>
  </body>
</html>
