.c0{padding-top:0pt;padding-bottom:0pt;line-height:1.0;orphans:2;widows:2;text-align:center}
.c1{padding-top:12pt;padding-bottom:3pt;line-height:1.0;page-break-after:avoid;orphans:2;widows:2;text-align:center}
.c2{color:#000000;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:12pt;font-family:"Arial";font-style:normal}
.c3{color:#000000;font-weight:700;text-decoration:none;vertical-align:baseline;font-size:14pt;font-family:"Arial";font-style:normal}
.c4{color:#000000;font-weight:700;text-decoration:none;vertical-align:baseline;font-size:16pt;font-family:"Arial";font-style:normal}
.c5{color:#000000;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:7pt;font-family:"Arial";font-style:normal}
.c6{height:12pt}
.c7{padding-top:12pt;padding-bottom:3pt;line-height:1.0;orphans:2;widows:2;text-align:center}
.c8{background-color:#ffffff;max-width:432pt;padding:72pt 90pt 72pt 90pt}
.c9{font-style:normal}
.c10{padding-top:0pt;padding-bottom:0pt;line-height:1.0;orphans:2;widows:2;text-align:left}
.c11{color:#000000;font-weight:700;text-decoration:none;vertical-align:baseline;font-size:20pt;font-family:"Arial"}
.c12{color:#000000;font-weight:700;text-decoration:none;vertical-align:baseline;font-size:10pt;font-family:"Arial"}
.c13{padding-top:0pt;padding-bottom:0pt;line-height:1.0;orphans:2;widows:2;text-align:left}
.title{padding-top:12pt;color:#000000;font-weight:700;font-size:20pt;padding-bottom:3pt;font-family:"Arial";line-height:1.0;orphans:2;widows:2;text-align:center}
.subtitle{padding-top:0pt;color:#000000;font-size:12pt;padding-bottom:3pt;font-family:"Arial";line-height:1.0;orphans:2;widows:2;text-align:center}
li{color:#000000;font-size:12pt;font-family:"Arial"}
p{margin:0;color:#000000;font-size:12pt;font-family:"Arial"}
h1{padding-top:12pt;color:#000000;font-weight:700;font-size:16pt;padding-bottom:3pt;font-family:"Arial";line-height:1.0;page-break-after:avoid;orphans:2;widows:2;text-align:center}
h2{padding-top:12pt;color:#000000;font-weight:700;font-size:14pt;padding-bottom:3pt;font-family:"Arial";line-height:1.0;page-break-after:avoid;orphans:2;widows:2;text-align:center}
h3{padding-top:12pt;color:#000000;font-weight:700;font-size:13pt;padding-bottom:3pt;font-family:"Arial";line-height:1.0;page-break-after:avoid;orphans:2;widows:2;text-align:center}
h4{padding-top:12pt;color:#000000;font-weight:700;font-size:14pt;padding-bottom:3pt;font-family:"Arial";line-height:1.0;page-break-after:avoid;orphans:2;widows:2;text-align:center}
h5{padding-top:12pt;color:#000000;font-weight:700;font-size:13pt;padding-bottom:3pt;font-family:"Arial";line-height:1.0;font-style:italic;orphans:2;widows:2;text-align:center}
h6{padding-top:12pt;color:#000000;font-weight:700;font-size:11pt;padding-bottom:3pt;font-family:"Arial";line-height:1.0;orphans:2;widows:2;text-align:center}
